.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__a2Bsx {
  display: flex;
  position: relative;
  max-width: var(--token-1EnXjgohvZ20);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__a2Bsx > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__a2Bsx > :global(.__wab_flex-container) > *,
.freeBox__a2Bsx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a2Bsx > :global(.__wab_flex-container) > picture > img,
.freeBox__a2Bsx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox__a2Bsx {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__a2Bsx > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__a2Bsx > :global(.__wab_flex-container) > *,
  .freeBox__a2Bsx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a2Bsx > :global(.__wab_flex-container) > picture > img,
  .freeBox__a2Bsx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___4Kug0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___4Kug0 {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.text__tthLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-NecnF-fk1Vgv);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__tthLc {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__kTyxj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__kTyxj {
    align-items: center;
    justify-content: center;
  }
}
.svg__mEtE5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__jA9B4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__twdQh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__rW2Ti {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.freeBox__u65N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__u65N {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__hGiI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__hGiI {
    text-align: center;
    margin-top: 53px;
  }
}
.button__iZocx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__iZocx:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__d7Jjx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qzxRu {
  color: var(--token-NecnF-fk1Vgv);
}
.svg__zwKoe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gI2UD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__gI2UD:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__qwUmt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wFOq {
  color: var(--token-NecnF-fk1Vgv);
}
.svg__orMu1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__omelT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__omelT:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__cfDtg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__u5Hw {
  color: var(--token-NecnF-fk1Vgv);
}
.svg__bsT4N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___59Sx5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___59Sx5 {
    justify-content: center;
    align-items: center;
  }
}
.h4__tcncJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__tcncJ {
    text-align: center;
    margin-top: 46px;
  }
}
.button__kgvxp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__kgvxp:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jXbf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nx1Ap {
  color: var(--token-NecnF-fk1Vgv);
}
@media (max-width: 930px) {
  .text__nx1Ap {
    text-align: center;
  }
}
.svg__zvt5X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xKLjy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__xKLjy:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ujPqH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cFlzX {
  color: var(--token-NecnF-fk1Vgv);
}
@media (max-width: 930px) {
  .text__cFlzX {
    text-align: center;
  }
}
.svg__yuAfr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__qvlYg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__qvlYg {
    justify-content: center;
    align-items: center;
  }
}
.h4__cqY2W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__cqY2W {
    text-align: center;
    margin-top: 46px;
  }
}
.text__w8M8P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__w8M8P {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg___9JRlb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iUsxL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ipiVf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__ipiVf:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg__bwV1V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__gzQwA {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__jFSsl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__eaAme {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__eaAme {
    align-self: center;
  }
}
.text__jVPjD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-NecnF-fk1Vgv);
  margin-top: 100px;
}
